*{
    margin: 0px;
    padding: 0px; box-sizing: border-box;
}
nav{
    width:100%;
    height: 75px;
    Line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#c91010,#012733);
}
nav .logo p{
    font-size: 30px;    
    font-weight: bold;    
    float: left;    
    color: white;    
    text-transform: uppercase;    
    Letter-spacing: 1.5px;    
    cursor: pointer;
    
}
nav ul{
    float: right;
}
nav li{    
    display: inline-flex;
    list-style: none;    
}
nav li a{    
    font-size: 18px;    
    text-transform: uppercase;    
    padding: 10px 5px;    
    color: rgb(243, 246, 248);    
    text-decoration: none;
}
nav li a:hover{
    background-size: 10%;
    color: #ff8c69; 
    transition: all 2s ease 0s;
}    
.image1 img{    
    width:100%;    
    height: 100vh;    
    background-size: cover;  
    background-position: fill;
}            
.title{
    position: center;
    top: 47%;
    left: 50%; 
    transform: translate(-50%,-50%);
}
.button{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid rgb(33, 208, 248);
    padding: 5px 20px;
    color: peru;
    transition: 0.5 ease;
    font-size: 20px;
    text-decoration: blanchedalmond;
}
.btn:hover{
    background-color: bisque;
    color: skyblue;
    background-size: 10px;
}
ul li ul.dropdown li{
    display: inherit;
}
ul li ul.dropdown{
    width: 50%;
    background: rgb(55, 11, 227);
    position: inherit;
    display: none;
}
ul li a:hover{
    background: #13a6ef;
    background-size: 50%;
}
ul li:hover ul.dropdown{
    display: block;
}


