*{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}
.header{
  background-image: "C:\Users\ANIL KUMAR K\Desktop\website html css\img1.png";
  height: 100vh;
  background-size: cover;
  background-position: center;
  min-height: 100px;;
}
u1{
  float: right;
  list style-type: none;
  margin-top: 30px;
  min-height: 400px;
  margin-right: 40px;
  font-size: 17px; 
}
u1 li{
  display: inline-block;
}
ul li a{
  text-decoration: brown;
  color: yellow;
  padding: 5px 20px; 
  border: 1px solid transparent;
  transition: 0.5 ease;
}
ul li a:hover{
  background-color: skyblue;
}
ul li.active a{
  background-color: #fff;
  color: #000;
}
.logo img{
  float: left;
  width: 150px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;
}
.title{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color:aqua;
  font-size: 60px;
}
.button{
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  border: 1px solid rgb(33, 208, 248);
  padding: 5px 20px;
  color: peru;
  transition: 0.5 ease;
  font-size: 20px;
  text-decoration: blanchedalmond;
}
.btn:hover{
  background-color: bisque;
  color: skyblue:
}
.sub-menu{
  background-color: aquamarine;
  display: none;
  top: 6%;
  position: relative;
}
.sub-menu ul{
  position: absolute;
} 
.main ul li:hover .sub-menu{
  display: block; 
  position: absolute; 
  background-color: rgb(0, 45, 117); 
  margin-top: 12px;
  margin-left: -8px;
}
  
.main ul li:hover .sub-menu ul{
  display: block;
  margin: 6px;
}  
.main ul li:hover .sub-menu ul li{
  width: 75px;
  padding: 5px;
  border-bottom: 1px;
  background: transparent;
  transition: 0.4 ease;
  text-align: left;
  border-radius: 15px;
} 
.dropdown_menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: blue;
}
.dropdown_menu u1{
  display: block;
  margin: 10px;
}